<head>
	<style>
	body {background-color:lightgrey;}
	h1   {text-align:center}
	p    {color:green; text-align:center}
	img	 {display:block; margin-left: auto; margin-right:auto; width:800px; height:400px}
	p.right {float:left; width:90%; border:3px solid #73AD21}
	p.left {float:left; width:90%; border:3px solid #73AD21; display:inline-block}
	table { width:800px; margin-left:auto; margin-right:auto;}
	</style>
	</head>
	<title> My Page </title>
	<body>
    <%= link_to 'About', pages_about_path%>
    <p><h1> NO FRONT END SKILLZ!</h1></p>
		<%=image_tag("kawasaki.JPG", alt: "Broken Bike")%>
		<table>
		<tr>
			<td>
			<p class="left"> Hello I never Usually touch this parts of the webdevelopment work that I do
				as I mainly Develop the backend of the application and stick to that however
				I am here to learn and if it means writing some html thats cool its not too bad
			</p>
			</td>
			<td>
			<p class="right">
				Hello My name is zacck I am software developer and Superbike Racer I can't yet decide
				which of the two I want to do full time however one pays for the other my favorite things
				Include being tossed off motorcylces and learning new ways of writing quicker code
			</p>
			</td>
		</tr>
</table>
